
{% extends "base.html" %}
{% comment %} show all items {% endcomment %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest items</h2>

        <div class="grid grid-cols-3 gap-3 hide">
            {% for item in items %}
                <div>
                    {% comment %} item.id represent the primary key we are using in item.views.detail {% endcomment %}
                    <a href="{% url 'item:detail' item.id %}"> 
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl flex justify-between items-center">
                        <div class='text'>
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price: {{ item.price }}$</p>
                        </div>
                        <a href="#" title="add to cart">
                            <div class="span-container" data-item-index="{{ forloop.counter }}">
                                <i class="far fa-heart text-red-600 hover:text-red-400 text-2xl mr-2" id='heartIcon{{ forloop.counter }}'></i>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.querySelectorAll('.span-container').forEach(function(element) {
        element.addEventListener('click', function(e) {
            e.preventDefault();
            var itemIndex = this.getAttribute('data-item-index');
            addCart(itemIndex);
            
        });
    });

    function addCart(itemIndex) {
        console.log(itemIndex);
        var heartIcon = document.getElementById('heartIcon' + itemIndex);
        console.log(heartIcon);

        // Toggle between far and fas classes
        if (heartIcon.classList.contains('far')) {
            heartIcon.classList.remove('far');
            heartIcon.classList.add('fas');
        } else {
            heartIcon.classList.remove('fas');
            heartIcon.classList.add('far');
        }
    }
    </script>
{% endblock %}