{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<h1> You already Logged in do you want to <a href="logout/" class="text-blue">Logout</h1>
{% else %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Log in</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{ form.password }}
        </div>

        {% if context.Error %} 
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {{ context.Error }}
            </div>
        {% endif %}

        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>
    
</div>
{% endif %}
{% endblock %}