{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Sign up</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">username</label><br>
            {{ form.username|add_class:"w-full border rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Email</label><br>
            {{ form.email|add_class:"w-full border rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{ form.password1|add_class:"w-full border rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Repeat password</label><br>
            {{ form.password2|add_class:"w-full border rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
                
            </div>
        {% else %}
        <p> </p>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                {% if message.level == messages.SUCCESS %}
                    <h1>hiii</h1>
                    <div class="mb-3 p-6 bg-green-100 rounded-xl">
                        {{ message }}
                    </div>
                {% elif message.level == messages.ERROR %}
                <h1>hello</h1>
                    <div class="mb-3 p-6 bg-red-100 rounded-xl">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>hello world </p>
        {% endif %}


        <button class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Submit</button>
    </form>


</div>
    <div class='flex justify-center'>
    <p>Already have an account? <a href="{% url 'login' %}" class="underline text-blue-400">Login</a></p>
    </div>
{% endblock %}